lib/cbp.hui/xycshv/lcd/jalg.hui.display.xycshv copy.maxpat
lib/cbp.proc/adaptive?.maxpat
input-tracking-test.maxpat
CBP_version_0_1_BETA5_drones.maxpat
new-ideas/*
cbp.txt
cbp2.txt

save_for_later.maxpat

.DS_Store
profile
